body {
  background-color: #000;
  color: white;
}

#box {
  background-color: blue;
  display: flex;
}

#box > div {
  background-color: brown;
  margin: 10px;
  padding: 10px;
}

#box div:last-child {
  margin-left: auto;
}

#table > p:nth-child(2n + 1) {
  background-color: #226;
}

#testgrid {
  display: grid;
  grid-template-areas: 
    "area1 area1 area2"
    ". area3 ."
    "area4 area5 area5";
}

#itemA {
  grid-area: area1;
  background-color: gray;
}

#itemB {
  grid-area: area2;
  background-color: green;
}

#itemC {
  grid-area: area3;
  background-color: purple;
}

#itemD {
  grid-area: area4;
  background-color: yellow;
}

#itemE {
  grid-area: area5;
  background-color: darkblue;
}