body {
  background-color: #000;
  color: white;
}

#box {
  background-color: blue;
  display: flex;
}

#box > div {
  background-color: brown;
  margin: 10px;
  padding: 10px;
}

#box div:last-child {
  margin-left: auto;
}

#table > p:nth-child(2n + 1) {
  background-color: #226;
}

#testgrid {
  display: grid;
  grid-template-areas: 
    "area1 area1 area2"
    ". area3 ."
    "area4 area5 area5";
}

#testgrid > div {
  padding: 4rem 0 4rem 0;
  text-align: center;
  font-size: 2rem; 
}

#itemA {
  grid-area: area1;
  background-color: royalblue;
}

#itemB {
  grid-area: area2;
  background-color: green;
}

#itemC {
  grid-area: area3;
  background-color: purple;
}

#itemD {
  grid-area: area4;
  background-color: chocolate;
}

#itemE {
  grid-area: area5;
  background-color: darkblue;
}

#testimg {
  width: 100%;
  height: auto;
}

#square {
  width: 300px;
  aspect-ratio: 1/1;
  background-color: rgb(42, 42, 42);
}

#testimg2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#casablanca::after {
  content: url("../media/redbar.png");
}